/* COLORS */

/* Background Colors */

.bg-blue{
    background-color: blue;
}

.bg-orange{
    background-color: orange;
}

.bg-light-blue{
    background-color: #2d64e6;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-fuchsia{
    background-color: fuchsia;
}

.bg-black{
    background-color: #000;
}   

.bg-darkgrey{
    background-color: #363636;
}

.bg-button-red{
    background-color:#cd3d0f;
}

.bg-light-grey{
    background-color: #bebcbb;
}

.bg-dirty-white{
    background-color: #d9dadc;
}

.bg-dark-blue{
    background-color: #161c3b;
}

.bg-footer{
    background-color:#00439c;
}

/* ----------------- */

/* Background buttons */
.bg-button-light-blue{
    background-color: #2d64e6;
}

/* Text Colors */
.light-blue{
    color: #2d64e6;
}

.black{
    color:#000;
}

.dark-blue{
    color:#161c3b;
}

.heavenly{
    color:#2788d6;
}

.light-grey{
    color:#727272;
}

/* ---------------- */

/* Border Color */

.border-blue{
    border: 1px solid #0e7ad1;
}

/* -------------- */




/* BOX SHADOW BUTTON */

.bg-button-red:hover{
    box-shadow: 0 0 0 2px red;
    border: 1px solid #000;    
}

.bg-button-light-blue:hover{
    box-shadow: 0 0 0 2px #2d64e6;
    border: 1px solid #fff;
}

.bg-darkgrey:hover{
    box-shadow: 0 0 0 2px #363636;
    border: 1px solid #fff;
}

#ps-plus .bg-dirty-white:hover{
    box-shadow: 0 0 0 2px rgba(217, 218, 220, 0.5);
}   

#ps-now .bg-dirty-white:hover{
    box-shadow: 0 0 0 2px #d9dadc;
    border: 1px solid #161c3b;
}

/* ----------- */

/* UTILITIES */

.mt-100{
    margin-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.active{
    border-bottom: 2px solid blue;
    opacity: 1.0;
}

/* ---------------------- */

/* HEADER */

.top-header{
    height: 25px;
}

.bottom-header{
    height: 75px;
}

.logo{
    height: 100%;
} 

.logo img{
    max-width: 50%;
    max-height: 50%;
}

[class*="chevron"]{
    cursor: pointer;
}

/* EFFETTI HOVER NAVBAR */
.navbar-light .navbar-nav .black{
    color: rgb(0,0,0);
}

.navbar-light .navbar-nav .black:hover{
    color: blue;
}

.navbar-light .navbar-nav .black:hover .chevron{
    display: none;
}

.navbar-light .navbar-nav .black:hover .chevron-hover{
    display: block;
}

/* -------------- */

/* MAIN */

/* SEZIONE RETURNAL */
#returnal{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

/* --------------- */


/* SEZIONE CARDS */
/* Effetti hover card */

#cards .container .row [class*="col-"]:hover{
    transform: translateY(-10px);
}

#cards .container .row [class*="col-"]{
    transition: transform 0.5s;
}



/* ------------- */


/* SEZIONE PS5 */

#ps5 .container .row-cols-3 .col img{
    opacity: 0.5;
}

#ps5 .container .row-cols-3 .col:hover img{
    opacity: 1.0;
}

#ps5 .container .row-cols-3 .col .active{
    opacity: 0;
}

/* ------------ */

/* SEZIONE IT-TAKES-TWO */

#takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* -------------- */
/* Resizing per il logo del background */

.resize-img {
    max-width: 40%;
    height: auto;
}

/* ------------------- */
    
/* SEZIONE NUOVI ARRIVI */

#new-releases{
    background-color: #1f1f1f;
}

/* -------------- */

/* SEZIONE ESPLORA PS4 */

#explore-ps4 p{
    margin-bottom: 0;
}

/* ------------------- */


/* SEZIONE PS PLUS */
.logo-psplus{
    width: 200px;
    height: 50px;
}
/* ---------------- */


/* SEZIONE PS NOW */
#ps-now a:hover{
    color:#161c3b;
}
/* -------------- */



/* FOOTER */


.logo-sie{
    width: 100px;
    height: 50px;
}

/* MEDIA QUERY */


@media screen and (min-width: 576px){
    .resize-sm-img {
        max-width: 50%;
        height: auto;
    }
}



@media screen and (min-width:768px){
    .pt-md-170{
        padding-top:170px;
    }
    .resize-md-img {
        max-width: 60%;
        height: auto;
    }
}


@media screen and (min-width:992px){
    .pt-lg-170{
        padding-top:170px;
    }
    .img-lg-fluid{
        max-width: 100%;
        height: auto;
    }   
}

@media screen and (min-width:1200px){
    .pt-xl-200{
        padding-top:200px;
    }
}

@media screen and (min-width:1400px){
    .pt-xxl-250{
        padding-top:250px;
    }
}


