/* COLORS */

.bg-blue{
    background-color: blue;
}

.bg-orange{
    background-color: orange;
}

.bg-light-blue{
    background-color: #2d64e6;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-fuchsia{
    background-color: fuchsia;
}

.bg-black{
    background-color: #000;
}   

.bg-darkgrey{
    background-color: #363636;
}

.bg-button-red{
    background-color:#cd3d0f;
}

.black{
    color:#000;
}

.heavenly{
    color:#2788d6;
}

.light-grey{
    color:#727272;
}

.border-blue{
    border: 1px solid #0e7ad1;
}

/* -------------- */

/* UTILITIES */

.h-100{
    height: 100%;
}

.mt-100{
    margin-top: 100px;
}


.pt-200{
    padding-top: 200px;
}


/* ---------------------- */

/* BACKGROUND COL PER IDENTIFICARE IN STRUTTURA */

#ps-plus [class*="col"], 
#discounts [class*="col"], 
#ps-now [class*="col"],
#social-media [class*="col"]{ 
    height: 50px;
    border: 2px solid #fff;
}
/* ------------------ */

/* HEADER */

.top-header{
    height: 25px;
}

.bottom-header{
    height: 75px;
}

.logo{
    height: 100%;
} 

.logo img{
    max-width: 50%;
    max-height: 50%;
}

main [class*="container"]{
    height: 100%;
}

/* MAIN */

#ps-plus,    
#discounts, 
#ps-now,
#social-media{
    height:800px;
}

/* SEZIONE RETURNAL */
#returnal{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

/* --------------- */

/* SEZIONE IT-TAKES-TWO */

#takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Resizing per il logo del background */

.resize-img {
    max-width: 40%;
    height: auto;
}

/* ------------------- */

/* SEZIONE NUOVI ARRIVI */

#new-releases{
    background-color: #1f1f1f;
}

/* -------------- */

/* SEZIONE ESPLORA PS4 */
/* ------------------- */



/* FOOTER */
footer{
    height: 200px;
}



/* MEDIA QUERY */


@media screen and (min-width: 576px){
    .resize-sm-img {
        max-width: 50%;
        height: auto;
    }
}



@media screen and (min-width:768px){
    .pt-md-170{
        padding-top:170px;
    }
    .resize-md-img {
        max-width: 60%;
        height: auto;
    }
}


@media screen and (min-width:992px){
    .pt-lg-170{
        padding-top:170px;
    }
    .img-lg-fluid{
        max-width: 100%;
        height: auto;
    }   
}

@media screen and (min-width:1200px){
    .pt-xl-200{
        padding-top:200px;
    }
}

@media screen and (min-width:1400px){
    .pt-xxl-250{
        padding-top:250px;
    }
}


